version: "3"
services: 
  postgres:
    build: 
      context: .
      dockerfile: Dockerfile
    volumes:
      - db-data:/var/lib/postgresql/data
    ports: 
      - "5432:5432"
    environment: 
      - POSTGRES_USER=namchee
      - POSTGRES_PASSWORD=postgres
  user:
    build: ./user
    ports:
      - "50051:50051"
    environment:
      - DB_USER=namchee
      - DB_PASSWORD=postgres
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=namchee
    depends_on:
      - postgres
  post:
    build: ./post
    ports:
      - "50052:50051"
    environment:
      - DB_USER=namchee
      - DB_PASSWORD=postgres
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=namchee
    depends_on:
      - postgres

volumes:
  db-data:
    driver: local