version: "3"
services: 
  postgres-user:
    build: 
      context: .
      dockerfile: Dockerfile.user
    volumes:
      - ./db-data-user:/var/lib/postgresql/data
    ports: 
      - "5432:5432"
    environment: 
      - POSTGRES_USER=namchee
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=users
    networks: 
      - backend
  postgres-post:
    build: 
      context: .
      dockerfile: Dockerfile.post
    volumes:
      - ./db-data-post:/var/lib/postgresql/data
    ports: 
      - "5433:5432"
    environment: 
      - POSTGRES_USER=namchee
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=post
    networks: 
      - backend
  user:
    build: ./user
    ports:
      - "50051:50051"
    environment:
      - DB_USER=namchee
      - DB_PASSWORD=postgres
      - DB_HOST=postgres-user
      - DB_PORT=5432
      - DB_NAME=users
      - NSQ_HOST=nsqd
      - NSQ_PORT=4150
    depends_on:
      - postgres-user
      - nsqlookupd
      - nsqd
    networks: 
      - backend
  post:
    build: ./post
    ports:
      - "50052:50051"
    environment:
      - DB_USER=namchee
      - DB_PASSWORD=postgres
      - DB_HOST=postgres-post
      - DB_PORT=5432
      - DB_NAME=post
      - USER_HOST=user
      - USER_PORT=50051
      - LOOKUP_HOST=nsqlookupd
      - LOOKUP_PORT=4161
    depends_on:
      - postgres-post
      - nsqlookupd
      - nsqd
    networks: 
      - backend
  nsqlookupd:
    image: nsqio/nsq
    command: /nsqlookupd
    ports:
      - "4160:4160"
      - "4161:4161"
    networks: 
      - backend
  nsqd:
    image: nsqio/nsq
    command:  /nsqd --broadcast-address=nsqd --lookupd-tcp-address=nsqlookupd:4160
    depends_on:
      - nsqlookupd
    ports:
      - "4151:4151"
      - "4150:4150"
    networks: 
      - backend
  nsqadmin:
    image: nsqio/nsq
    command: /nsqadmin --lookupd-http-address=nsqlookupd:4161
    depends_on:
      - nsqlookupd  
    ports:
      - "4171:4171"
    networks: 
      - backend

volumes:
  db-data-user:
    driver: local
  db-data-post:
    driver: local

networks: 
  backend: